<% content_for :style do %>
    <%= stylesheet_link_tag "font-awesome.min" %>
    <%= stylesheet_link_tag "bootstrap.min" %>
    <%= stylesheet_link_tag "style" %>
    <%= stylesheet_link_tag "flexslider" %>
    <%= stylesheet_link_tag "magnific-popup" %>
    <%= stylesheet_link_tag "owl-carousel/owl.carousel" %>
    <%= stylesheet_link_tag "owl-carousel/owl.theme" %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lato:300,400,700" %>
<% end %>
<% content_for :title do %>
    Subscribe Response | anakpajak
<% end %>
<% content_for :class_body do %>
    class="fill"
<% end %>
<!-- Hero -->
<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-center">
                <div class="logo">
                    <h1><i class="fa fa-compass fa-3x"></i></h1>
                </div>
                <h1>We got it!</h1>
                <p class="lead">Terima kasih. Anda adalah orang pertama yang akan mendapatkan informasi anakpajak.</p><p><a href="https://twitter.com/share" class="twitter-share-button" data-text="Coba aplikasi perpajakan baru yang akan membawa kamu kedalam dunia virtual perpajakan, daftar di anakpajak.com" data-via="anakpajakdotcom" data-size="large">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
            </div>
            <div class="col-md-offset-2 col-md-8 text-center">
                <a href="<%= root_path %>" class="btn btn-4 btn-lg">Home</a>
            </div>
        </div>
    </div>
</section>
            <!-- End hero -->
<%= javascript_include_tag "jquery-1.10.2.min" %>
<%= javascript_include_tag "bootstrap.min" %>
<%= javascript_include_tag "jquery.flexslider" %>
<%= javascript_include_tag "jquery.magnific-popup" %>
<%= javascript_include_tag "owl.carousel.min" %>
<%= javascript_include_tag "scripts" %>
