<div class="form-box" id="login-box">
  <div class="header">Masuk</div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="body bg-gray">
      <div class="form-group">
        <%= f.text_field :login, autofocus: true, class: "form-control", placeholder: "User ID" %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
      </div>
      <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me %> <%= f.label "Ingat Saya" %></div>
      <% end -%>
    </div>
    <div class="footer">
      <button type="submit" class="btn bg-olive btn-block">Masuk</button>
      <%= render "users/shared/links" %>
      <%#= f.submit "Sign in" %>
    </div>
  <% end %>
  <div class="margin text-center">
      <span>Daftar menggunakan social networks</span>
      <br/>
      <button class="btn bg-light-blue btn-circle"><i class="fa fa-facebook"></i></button>
      <button class="btn bg-aqua btn-circle"><i class="fa fa-twitter"></i></button>
      <button class="btn bg-red btn-circle"><i class="fa fa-google-plus"></i></button>

  </div>
</div>

