<% content_for :style do %>
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "font-awesome.min" %>
  <%= stylesheet_link_tag "pace" %>
  <%= stylesheet_link_tag "colorbox/colorbox" %>
  <%= stylesheet_link_tag "endless.min" %>
  <%= stylesheet_link_tag "endless-skin" %>
<% end %>
<body class="overflow-hidden">
  <!-- Overlay Div -->
  <div id="overlay" class="transparent"></div>
  <div id="wrapper" class="preload">
    <%= render 'layouts/user_top_navigation' %>

    <div id="main-container">
        <%= render 'main_form/show_article' %>        
    </div><!-- /main-container -->
  </div><!-- /wrapper -->
  <!-- Footer
    ================================================== -->
  <%= render 'layouts/footer' %> 
  <%= javascript_include_tag "jquery-1.10.2.min" %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= javascript_include_tag 'jquery.colorbox.min' %>  
  <%= javascript_include_tag 'modernizr.min' %>
  <%= javascript_include_tag 'pace.min' %>
  <%= javascript_include_tag 'jquery.popupoverlay.min' %>
  <%= javascript_include_tag 'jquery.slimscroll.min' %>
  <%= javascript_include_tag 'jquery.cookie.min' %>
  <%= javascript_include_tag "endless/endless" %>
  <script>
    $(function()  {
      //Colorbox 
      $('.image-zoom').colorbox({
        maxWidth:'90%',
        width:'800px'
      });
    });
  </script>
  
  </body>