<aside class="left-side sidebar-offcanvas">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <div class="pull-left image">
                            <%= image_tag("avatar5.png", class: "img-circle", alt: "User Image")%>
                        </div>
                        <div class="pull-left info">
                            <p>Hello, <%= current_user.username %></p>

                            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                        </div>
                    </div>
                    <!-- search form -->
                    <form action="#" method="get" class="sidebar-form">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Search..."/>
                            <span class="input-group-btn">
                                <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                    <!-- /.search form -->
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li class="active">
                            <a href="<%= timeline_user_path(User.first)%>">
                                <i class="fa fa-dashboard"></i> <span>Timeline</span> <small class="badge pull-right bg-green">10</small>
                            </a>
                        </li>
                        <li>
                            <a href="<%= articles_path %>">
                                <i class="fa fa-th-list"></i> <span>Berita</span> <small class="badge pull-right bg-green">new</small>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-briefcase"></i>
                                <span>Direktori Pajak</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="#"><i class="fa fa-angle-double-right"></i> Peraturan Pajak</a></li>
                                <li><a href="<%= kurs_path %>"><i class="fa fa-angle-double-right"></i> Kurs Pajak</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i> KPP</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i> Konsultan</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i> Tax Center</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i> Brevet Pajak</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="<%= root_path %>">
                                <i class="fa fa-flask"></i>
                                <span>Tanya Pajak</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-calendar"></i> <span>Acara Pajak</span>
                                <small class="badge pull-right bg-red">3</small>
                            </a>
                        </li>
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>