<% content_for :style do %>
    <%= stylesheet_link_tag "font-awesome.min" %>
    <%= stylesheet_link_tag "bootstrap.min" %>
    <%= stylesheet_link_tag "style" %>
    <%= stylesheet_link_tag "flexslider" %>
    <%= stylesheet_link_tag "magnific-popup" %>
    <%= stylesheet_link_tag "owl-carousel/owl.carousel" %>
    <%= stylesheet_link_tag "owl-carousel/owl.theme" %>
    <%= stylesheet_link_tag "landing" %>
    <%= stylesheet_link_tag "animate" %>
    <%= stylesheet_link_tag "app" %>
    <%= stylesheet_link_tag "font-awesome.min" %>
    <%= stylesheet_link_tag "foundation-icons" %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lato:300,400,700" %>
<% end %>

<% content_for :title do %>
    anakpajak - Jelajahi dunia perpajakan
<% end %>            
            <!-- Hero -->
            <section id="hero">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="logo">
                                <%= image_tag("Logo.png")%>
                                <!-- <img src="img/Logo.png" /> -->
                                <!-- <h1><i class="fa fa-compass fa-2x"></i></h1> -->
                            </div>
                            <div class="intro">
                                <h1>AnakPajak adalah dunia virtual perpajakan anda, genggam dunia pajak anda dimanapun berada</h1>
                                <p class="lead">Jelajahi ilmu pajak disekitar anda. Akses undang-undang, kurs dan peraturan pajak di gadget anda, dapatkan informasi pajak, news dan kurs up-to-date.</p>
                                <div class="buttons">
                                    <a href="#features" class="btn btn-1 btn-lg"><i class="fa fa-arrow-circle-o-right"></i> Fitur anapajak</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                        <div class="hidden-sm hidden-xs">
                            <div id="main-image" class="main-image">
                                <%= image_tag("iphone-1.png")%>
                                <!-- <img src="img/iphone-1.png" alt="Slide One"> -->
                            </div>
                        </div>
                </div>
            </section>
            <!-- End hero -->
            
            <!-- Features -->
            <section id="features">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="overview">
                                <h1>Fitur Keren di anakpajak</h1>
                                <p class="lead">anakpajak hadir dengan fitur-fitur keren yang membuat pengalaman menjelajahmu akan terasa nyaman</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <figure class="item">
                                <div class="item-icon">
                                    <i class="fa fa-rocket fa-lg"></i>
                                </div>
                                <div class="item-body">
                                    <h2>Easy to use</h2>
                                    <p>Dengan anakpajak jari anda akan terasa nyaman menjelajahi dunia pajak.</p>
                                </div>
                            </figure>
                            <figure class="item">
                                <div class="item-icon">
                                    <i class="fa fa-laptop fa-lg"></i>
                                </div>
                                <div class="item-body">
                                    <h2>Laptop Pajak</h2>
                                    <p>Informasi Undang-undang, Kurs dan peraturan perpajakan yang up-to-date.</p>
                                </div>
                            </figure>
                            <figure class="item">
                                <div class="item-icon">
                                    <i class="fi-calendar x3"></i>
                                </div>
                                <div class="item-body">
                                    <h2>Tax Reminder</h2>
                                    <p>Fitur ini akan mengingatkan anda kapan harus melapor dan menyetor pajak anda.</p>
                                </div>
                            </figure>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="iphone-1">
                                <img class="img-responsive" src="img/iphone-1.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <figure class="item">
                                <div class="item-icon">
                                    <i class="fa  fa-question-circle fa-lg"></i>
                                </div>
                                <div class="item-body">
                                    <h2>Tanya Pajak</h2>
                                    <p>Tanyakan hal pajak yang tidak anda ketahui dan seluruh pengguna akan menjawabnya.</p>
                                </div>
                            </figure>
                            <figure class="item">
                                <div class="item-icon">
                                    <i class="fa fa-bar-chart-o fa-lg"></i>
                                </div>
                                <div class="item-body">
                                    <h2>Klinik Pajak</h2>
                                    <p>Bingung cari KPP, Tax Center, Kantor Konsultan Pajak dan Kantor Akuntan Publik? dapatkan akses mudah di anakpajak.</p>
                                </div>
                            </figure>
                            <figure class="item">
                                <div class="item-icon">
                                    <i class="fa fa-group fa-lg"></i>
                                </div>
                                <div class="item-body">
                                    <h2>Social</h2>
                                    <p>Menulis, berbagi informasi pajak keseluruh pengguna dan mengobrol pajak langsung dengan seluruh pengguna</p>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </section>
           
            <section id="purchase">
            </section>

        <div class="container m-t-xl">
            <div class="row">
            <div class="col-sm-7">
            <h2 class="font-thin m-b-lg">Desain Responsive anakpajak di <span class="text-primary">Mobile</span>, <span class="text-primary">Tablet</span> dan <span class="text-primary">Desktop</span></h2>
            <p class="h4 m-b-lg l-h-1x">Anda tidak perlu takut ketinggalan update pajak dimanapun berada, anda dapat menggunakan anakpajak dimanapun anda berada, di smartphone, Tablet, Mac ataupun PC/Desktop.
            <p class="clearfix">&nbsp;</p>
            <div class="row m-b-xl">
              <div class="col-xs-2"><i class="fa fa-desktop fa-4x icon-muted"></i></div>
              <div class="col-xs-2"><i class="fa fa-plus icon-muted m-t"></i></div>
              <div class="col-xs-2"><i class="fa fa-tablet fa-4x icon-muted"></i></div>
              <div class="col-xs-2"><i class="fa fa-plus icon-muted m-t"></i></div>
              <div class="col-xs-2"><i class="fa fa-mobile fa-4x icon-muted"></i></div>
            </div>
          </div>
          <div class="col-sm-5 text-center">
            <section class="panel bg-dark inline aside-md no-border device phone animated fadeInRightBig">
              <header class="panel-heading text-center">
                <i class="fa fa-minus fa-2x icon-muted m-b-n-xs block"></i>
              </header>
              <div class="m-l-xs m-r-xs">
                <div class="carousel auto slide" id="c-fade" data-interval="3000">
                    <div class="carousel-inner">
                      <div class="item active text-center">
                        <%= image_tag("5.png")%>
                        <!-- <img src="img/5.png" class="img-full" > -->
                      </div>
                      <div class="item text-center">
                        <%= image_tag("4.png")%>
                        <!-- <img src="img/4.png" class="img-full" > -->
                      </div>
                      <div class="item text-center">
                        <%= image_tag("3.png")%>
                        <!-- <img src="img/3.png" class="img-full" > -->
                      </div>
                      <div class="item text-center">
                        <%= image_tag("2.png")%>
                        <!-- <img src="img/2.png" class="img-full" > -->
                      </div>
                      <div class="item text-center">
                        <%= image_tag("1.png")%>
                        <!-- <img src="img/1.png" class="img-full" > -->
                      </div>
                    </div>
                </div>
              </div>
              <footer class="bg-dark text-center panel-footer no-border">
                <i class="fa fa-circle icon-muted fa-lg"></i>
              </footer>
            </section>
          </div>
        </div>        
      </div>

             <!-- Subscribe -->
            <section id="purchase">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="overview">
                                <h1>Ingin menjadi orang pertama yang menggunakan anakpajak*?</h1>
                                <p class="lead">* Aplikasi masih dalam tahap pengembangan, subscribe untuk mendapatkan akses beta</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8 text-center">
                            <%= form_for :users ,url:be_subscriber_user_path, method: :post do |f| %>
                                <div class="form-group">
                                    <label class="sr-only">Email</label>
                                    <input type="text" name="email" id="address" class="form-control input-lg" placeholder="Enter email here">
                                </div>
                                <input type="submit" class="btn btn-3 btn-lg btn-wide" value="Subscribe">
                            <% end %>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End subscribe -->

            <footer id="footer">
    <div class="bg-dark dker wrapper">
      <div class="container text-center m-t-lg">
        <div class="row m-t-xl m-b-xl">
          <div class="col-sm-4" data-ride="animated" data-animation="fadeInLeft" data-delay="300">
            <i class="fa fa-map-marker fa-3x icon-muted"></i>
            <h5 class="text-uc m-b m-t-lg">Lokasi</h5>
            <p class="text-sm">Taman Alamanda Blok A23/3 <br>
              Bekasi - INDONESIA, 17510
             </p>
          </div>
          <div class="col-sm-4" data-ride="animated" data-animation="fadeInUp" data-delay="600">
            <i class="fa fa-envelope-o fa-3x icon-muted"></i>
            <h5 class="text-uc m-b m-t-lg">Mail Us</h5>
            <p class="text-sm"><a href="mailto:onto@evonestudio.com">onto@evonestudio.com</a></p>
          </div>
          <div class="col-sm-4" data-ride="animated" data-animation="fadeInRight" data-delay="900">
            <i class="fa fa-globe fa-3x icon-muted"></i>
            <h5 class="text-uc m-b m-t-lg">Join Us</h5>
            <p class="text-sm">Ingin Berkontribusi? <br><a href="mailto:onto@evonestudio.com">onto@evonestudio.com</a></p>
          </div>
        </div>
        <div class="m-t-xl m-b-xl">
          <p>
            <a href="http://facebook.com/Liyan.Hdr" class="btn btn-icon btn-rounded btn-facebook bg-empty m-sm"><i class="fa fa-facebook"></i></a>
            <a href="http://twitter.com/anakpajakdotcom" class="btn btn-icon btn-rounded btn-twitter bg-empty m-sm"><i class="fa fa-twitter"></i></a>
            <a href="#" class="btn btn-icon btn-rounded btn-gplus bg-empty m-sm"><i class="fa fa-google-plus"></i></a>
          </p>
          <p>
            <a href="#hero" data-jump="true" class="btn btn-icon btn-rounded btn-dark b-dark bg-empty m-sm text-muted"><i class="fa fa-angle-up"></i></a>
          </p>
        </div>
      </div>
    </div>
  </footer>
    <%= javascript_include_tag "jquery-1.10.2.min" %>
    <%= javascript_include_tag "jquery-1.10.2" %>
    <%= javascript_include_tag "bootstrap.min" %>
    <%= javascript_include_tag "jquery.flexslider" %>
    <%= javascript_include_tag "jquery.magnific-popup" %>
    <%#= javascript_include_tag "jquery.easing.min" %>
    <%= javascript_include_tag "owl.carousel.min" %>
    <%= javascript_include_tag "scripts" %>
    <%= javascript_include_tag "landing" %>
    <%= javascript_include_tag "app" %>
    <%= javascript_include_tag "slimscroll/jquery.slimscroll.min" %>
    <%= javascript_include_tag "appear/jquery.appear" %>
    <%= javascript_include_tag "scroll/smoothscroll" %>