<% content_for :style do %>
  <%= stylesheet_link_tag "font-awesome.min" %>
  <%= stylesheet_link_tag "normalize" %>
  <%= stylesheet_link_tag "myhome" %>
<% end %>
<body>
<div id="header">
  <div class="thick_header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 logo-holder">
          <a href="/" class="logo-link">
            <div class="logo-img sprite-crown_30"></div>
            <span class="logo-name">
              anakpajak
              <span class="logo-beta">BETA</span>
            </span>
          </a>
        </div>
        <div class="col-xs-12 col-sm-8 navigations">
            <%= form_for(@user, :as => :user, :url => session_path(:user),html:{class: "form-inline no-margin"}) do |f| %>
              <div class="form-group">
                  <%= f.label :login, class: "sr-only" %>
                  <%= f.text_field :login, :autofocus => true, class: "form-control input-sm", placeholder: "User ID" %>
              </div><!-- /form-group -->
              <div class="form-group">
                  <%= f.label :password, class: "sr-only" %>
                  <%= f.password_field :password, :autofocus => true, class: "form-control input-sm", placeholder: "Password" %>
              </div><!-- /form-group -->
              <div class="checkbox">
                  <label class="label-checkbox">
                  <input type="checkbox" checked/>
                  <span class="custom-checkbox"></span>
                   Remember me<br/>
                </label>
              </div><!-- /checkbox -->
              <button type="submit" class="btn btn-sm btn-default">Sign in</button>
            <% end %>
        </div>
      </div>
    </div>
  </div>

  
</div>
<div id="main">
  <div class="section gray section-intro">
    <div class="background"></div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-7">
            <div class="padder-20 hidden-xs"></div>
            <h1 class="title">Discover Tax Knowledge.</h1>
            <div class="sub-title">
              anakpajak is social media to increase business trust and encourage tax information available to all people.           
            </div>
  
  <div class="row signup-row hidden-sm">
  <div class="padder-20"></div>
  <div class="col-xs-12 sub-title text-primary-color">
    Made with <icon class="fa-heart-o"></icon> in Indonesia
  </div>
  <div class="padder-20"></div>
  <div class="padder-10 visible-xs"></div>
  <div class="padder-10"></div>
</div>

        </div>
        <div class="col-sm-5 hidden-xs">
          <%= image_tag("home.png", class: "img-responsive pull-right")%>
        </div>
      </div>

    </div>
  </div>
<div class="section section-signup">
  <div class="container">
    <div class="row">
      
      <div class="col-sm-4">
        <div class="notice">
          
            SIGN UP FOR FREE
          
        </div>
        <div class="padder-10"></div>
        <div class="small">
          
            We only need a few permissions and hate social spam too.
          
          <a href="#" class="text-underline">
            Prefer email?
          </a>
        </div>
      </div>
      <div class="padder-30 visible-xs"></div>
      
      <div class="col-xs-12 col-sm-8">
        <div class="row">
          <a href="<%= user_omniauth_authorize_path(:facebook) %>">
          <div class="col-md-6">
            <button class="btn btn-fb btn-icon btn-block"
              data-type="signup_button" data-channel-type="facebook">
              <div class="sprite-facebook_btn icon"></div>
              <span class="text">
                SIGN IN WITH FACEBOOK
              </span>
            </button>
          </div>
          </a>
          <div class="padder-10 visible-xs visible-sm"></div>
          <a href="<%= user_omniauth_authorize_path(:twitter) %>">
          <div class="col-md-6">
            <button class="btn btn-twt btn-icon btn-block"
              data-type="signup_button" data-channel-type="twitter">
              <div class="sprite-twitter_btn icon"></div>
              <span class="text">
                SIGN IN WITH TWITTER
              </span>
            </button>
          </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
    </div>
    <div id="footer">
<div class="thick_footer">
  <div class="container">
       <span>anakpajak</span>  &#169; 2014 <a href="https://evonestudio.com" target="_blank">Evone Studio</a>. ALL Rights Reserved ~ Terms & Policy ~ FAQ ~ About Us ~ Contact Us
    </div>
</div>
    </div>
  <%= javascript_include_tag "jquery-1.10.2.min" %>       
  </body>
