<div class="panel blog-container">
    <div class="panel-body">
        <a class="image-wrapper image-zoom" href="/images/img/movie/preview1.jpg">
            <%= image_tag("img/movie/preview1.jpg", alt: "Photo of Blog" ) %>
            <div class="image-overlay"></div>   
        </a>
                                        
        <h4><%= article.title %></h4>
        <small class="text-muted">By <a href="#"><strong> <%= article.title %></strong></a> |  Post on <%= article.created_at.to_s %>  | 3 comments</small>
        <p class="m-top-sm m-bottom-sm">
            <%= raw(article.content[0..100])+"....." %>
        </p>
        <a href="<%= article_path(article) %>"><i class="fa fa-angle-double-right"></i> Continue reading</a>
        <span class="post-like text-muted tooltip-test" data-toggle="tooltip" data-original-title="I like this post!">
            <i class="fa fa-heart"></i> <span class="like-count">8</span>
        </span>
    </div>
</div>