<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "AnakPajak.com Alfa Version" %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= content_for?(:style) ? yield(:style) : "" %>
</head>
  <%#= render 'layouts/navigation' %>
  <%= yield %>
  <%#= render 'layouts/footer' %>
</html>
