<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "AnakPajak.com" %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="fixed skin-blue">
  <%= render 'layouts/navigation' %>
  <%= yield %>
  <%= render 'layouts/footer' %>
</body>
</html>
