<!DOCTYPE html>
<html class="bg-black">
    <head>
        <meta charset="UTF-8">
        <title>anakpajak | Daftar</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <!-- bootstrap 3.0.2 -->
        <%= stylesheet_link_tag    "bootstrap.min" %>
        <%= stylesheet_link_tag    "font-awesome.min" %>
        <%= stylesheet_link_tag    "anakpajak" %>

    </head>
    <body class="bg-black">
        <%= yield %>
        <!-- Bootstrap -->
        <%= javascript_include_tag "bootstrap.min" %>

    </body>
</html>